body,
input {
  font-family: sans-serif;
}
body {
  margin: 0;
  font-size: 20px;
  background-color: #00372b;
}
header,
footer {
  box-shadow: 0 0 0.5em #00372b;
  padding: 1em 5%;
  color: #627a74;
}
header h1 {
  float: left;
  margin: 0.5em 0 0.5em -0.25em;
  font-size: 4em;
}
header h1 img {
  height: 1em;
}
nav {
  padding: 2em 0;
  text-align: right;
}
nav a {
  display: inline-block;
  margin: 1em;
  border: 1px dotted #161919;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  color: #a6c3bc;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover,
nav a:focus,
main {
  border-style: solid;
  background-color: #0e5243;
}
nav a:hover,
nav a:focus {
  color: #d3dad9;
}
nav a:active {
  background-color: #161919;
  color: #86aea5;
}
nav a.active {
  border-style: dotted;
  background-color: #37534d;
  color: #d3dad9;
  cursor: default;
}
main {
  padding: 3em 5%;
}
input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 1em;
  border: 0.1em solid #86aea5;
  border-radius: 0.32em;
  padding: 0.3em 0.4em;
  background-color: #d3dad9;
  color: #455;
  outline: 0;
  font-size: 2em;
}
input:hover,
input:focus {
  border-color: #44897a;
}
input.green:focus {
  border-color: #cec;
}
input.red:focus {
  border-color: #ecc;
}
.gallery {
  overflow: auto;
  border-radius: 0.5em;
}
.gallery > div {
  min-width: 48em;
}
.left,
.right,
.right div {
  height: 20em;
}
.left {
  width: 25%;
  float: left;
  overflow: auto;
  background-color: #86aea5;
}
.right .left {
  width: 33%;
  background-color: #a6c3bc;
}
.left a {
  display: block;
  border-top: 0.2em solid #0e5243;
  padding: 0.5em 1em;
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none;
  color: #2b3936;
  cursor: default;
}
.right .left a {
  color: #37534d;
}
.left a:first-child {
  border-top: 0;
}
.left a:active,
.left a.active {
  background-color: #789d34;
  color: #324f00;
}
.right .left a:active,
.right .left a.active {
  background-color: #a0c562;
  color: #527614;
}
.left .table:after {
  float: right;
  font-weight: normal;
}
.left .table.active:after {
  content: "\25B6";
}
.left .table:after,
.left .table:active:after {
  content: "\25B7";
}
.right {
  border-left: 0.1em solid #0e5243;
  background-color: #d3dad9;
  color: #37534d;
}
.right,
.right .right {
  overflow: hidden;
}
.right div {
  overflow: auto;
}
dl {
  margin: 1em;
}
dt {
  margin: 1em 0;
  font-weight: bold;
  text-transform: uppercase;
}
dd {
  margin: 1em 0;
  padding: 0;
}
dd.syntax,
dd.keys {
  font-family: monospace;
}
kbd {
  background-color: #334;
  color: #def;
}
kbd.second {
  background-color: #c93;
}
kbd.alpha {
  background-color: #399;
}
mark {
  background-color: transparent;
}
.second + mark {
  color: #c93;
}
.alpha + mark {
  color: #399;
}
textarea {
  width: 100%;
  height: 4em;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: 1em;
  font-family: inherit;
}
footer {
  padding: 3em 5%;
}
.logo {
  font-size: 1em;
  margin: 1em auto;
}
.logo a {
  float: right;
  font-weight: bold;
}
p {
  margin: 1em auto;
  font-size: 0.8em;
}
p a {
  color: #86aea5;
  text-decoration: none;
}
p a:hover,
p a:focus {
  text-decoration: underline;
}
a.hidden,
div.hidden {
  display: none;
}
@media screen and (max-width: 479px) {
  body {
    font-size: 12px;
  }
}
